---
import ThemeButton from "../../features/theme/components/ThemeButton.astro";
import Container from "../../shared/ui/Container.astro";
import type { HTMLAttributes } from "astro/types";
import Search from "../../features/search/components/Search.astro";
import Space from "../../shared/ui/Space.astro";
import Logo from "./Logo.astro";

interface Props extends HTMLAttributes<"header"> {}

const { class: className, ...attrs } = Astro.props;
---

<header class:list={["header", className]} {...attrs}>
  <Container class="header__container">
    <a class="header__logo-link" href="/" aria-label="Домой">
      <Logo class="header__logo" aria-hidden="true" />
    </a>
    <Space />
    <Search class="header__search" />
    <ThemeButton />
  </Container>
</header>

<script>
  addEventListener("scroll", () => {
    const header = document.querySelector(".header__container")!;

    if (window.scrollY > 0) {
      header.classList.add("header__container_scrolled");
    } else {
      header.classList.remove("header__container_scrolled");
    }
  });
</script>

<style>
  .header {
    position: sticky;
    top: 0;
  }

  .header__container {
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease;
    transition-property: box-shadow;
    background-color: var(--background);

    &.header__container_scrolled {
      box-shadow:
        inset 0 -1px 0 0 var(--border),
        0 16px 16px -24px rgba(0, 0, 0, 0.5);
    }
  }

  .header__logo-link {
    display: block;
    transition: box-shadow 0.15s ease-in-out;
    text-decoration: none;

    &:hover {
      box-shadow: 0 1px 0 0 var(--accent);
    }
  }

  .header__logo {
    height: 20px;
    width: 128px;
  }

  .header__search {
    align-content: end;
  }
</style>
