---
import { getCollection } from "astro:content";
import type { HTMLAttributes } from "astro/types";
import Tag from "../../../shared/ui/Tag.astro";
import { groupByTagNotes } from "../utils/groupByTagNotes";

const notes = await getCollection("notes");
const groupedByTagNotes = groupByTagNotes(notes);

interface Props extends HTMLAttributes<"ul"> {}

const { class: className, ...attrs } = Astro.props;
---

<ul class:list={["note-tags", className]} {...attrs}>
  {
    groupedByTagNotes.map(({ tag, notes }) => (
      <li class="note-tags__item">
        <Tag label={tag.name} count={notes.length} href={`/tags/${tag.slug}`} />
      </li>
    ))
  }
</ul>

<style>
  .note-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }
</style>
