---
import { getCollection } from "astro:content";
import type { HTMLAttributes } from "astro/types";
import Tag from "../../../shared/ui/Tag.astro";
import { groupByTagNotes } from "../utils/groupByTagNotes";
import NotePreview from "./NotePreview.astro";

const notes = await getCollection("notes");

interface Props extends HTMLAttributes<"ul"> {}

const { class: className, ...attrs } = Astro.props;
---

<ul class:list={["note-list", className]} {...attrs}>
  {
    notes.map((note) => (
      <li class="note-list__item">
        <NotePreview note={note} />
      </li>
    ))
  }
</ul>

<style>
  .note-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
  }
</style>
