---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  color?: "default" | "primary";
}

const { class: className, color = "default", ...attrs } = Astro.props;
---

<button
  class:list={["button", { [`button_color_${color}`]: color }, className]}
  {...attrs}
>
  <slot />
</button>

<style>
  .button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font: inherit;
    font-weight: 500;
    cursor: pointer;
    transition: border-color 0.25s;

    &.button_color_default {
      background-color: var(--surface);
      color: var(--on-surface);
    }

    &.button_color_primary {
      background-color: var(--accent);
      color: var(--on-accent);
    }

    &:hover {
      border-color: var(--accent);
    }
    &:focus,
    &:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
  }
</style>
