---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {}

const { class: className, ...attrs } = Astro.props;
---

<button class:list={["button", className]} {...attrs}>
  <slot />
</button>

<style>
  .button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font: inherit;
    font-weight: 500;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.25s;

    &:hover {
      border-color: #646cff;
    }
    &:focus,
    &:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
  }

  html.dark {
    .button {
      background-color: #1a1a1a;
    }
  }
</style>
