---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  label: string;
  count?: number;
}

const { class: className, label, count, ...attrs } = Astro.props;
---

<a class:list={["tag", { "tag_with-count": count }, className]} {...attrs}>
  {label}
  {!!count && <span class="tag__count">{count.toLocaleString()}</span>}
</a>

<style>
  .tag {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
    border-radius: 999px;
    background: var(--surface);
    color: var(--on-surface);
    text-decoration: none;
    transition: all 0.2s ease;
    box-shadow: var(--shadow-low);

    &.tag_with-count {
      padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    }

    &:hover {
      background-color: #e5e7eb;
      color: #000;
    }
  }

  .tag__count {
    background: var(--accent);
    color: var(--on-accent);
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    min-width: 26px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    border-radius: 999px;
  }

  html.dark {
    .tag {
      background: var(--surface);
      color: var(--on-surface);
      &:hover {
        background: #112a65;
        color: #cc8686;
      }
    }

    .tag__count {
      background: var(--accent);
      color: var(--on-accent);
    }
  }
</style>
