---
import { getCollection } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";
import { groupByTagPosts } from "../../features/post/utils/groupByTagPosts";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return groupByTagPosts(posts).map(({ tag, posts }) => ({
    params: { slug: tag.slug },
    props: { tagName: tag.name, posts: Array.from(posts) },
  }));
}

const { tagName, posts } = Astro.props;
---

<PageLayout title={`Тег ${tagName}`}>
  <h1>Тег {tagName}</h1>

  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/posts/${post.id}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</PageLayout>
