---
import { getCollection } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";
import { groupByTagNotes } from "../../features/note/utils/groupByTagNotes";

export async function getStaticPaths() {
  const notes = await getCollection("notes");

  return groupByTagNotes(notes).map(({ tag, notes }) => ({
    params: { slug: tag.slug },
    props: { tagName: tag.name, notes: Array.from(notes) },
  }));
}

const { tagName, notes } = Astro.props;
---

<PageLayout title={`Тег ${tagName}`}>
  <h1>Тег {tagName}</h1>

  <ul>
    {
      notes.map((note) => (
        <li>
          <a href={`/notes/${note.id}`}>{note.data.title}</a>
        </li>
      ))
    }
  </ul>
</PageLayout>
