---
import type { CollectionEntry } from "astro:content";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  post: CollectionEntry<"posts">;
}

const { class: className, post, ...attrs } = Astro.props;
---

<div class:list={["post-card", className]} {...attrs}>
  <h3>{post.data.title}</h3>
</div>

<style>
  .post-card {
    border: 1px solid cadetblue;
    border-radius: 8px;
    padding: 16px;
  }
</style>
