---
import { getCollection } from "astro:content";
import type { HTMLAttributes } from "astro/types";
import Tag from "../../../shared/ui/Tag.astro";
import { groupByTagPosts } from "../utils/groupByTagPosts";

const posts = await getCollection("posts");
const groupedByTagPosts = groupByTagPosts(posts);

interface Props extends HTMLAttributes<"ul"> {}

const { class: className, ...attrs } = Astro.props;
---

<ul class:list={["post-tags", className]} {...attrs}>
  {
    groupedByTagPosts.map(({ tag, posts }) => (
      <li class="post-tags__item">
        <Tag label={tag.name} count={posts.length} href={`/tags/${tag.slug}`} />
      </li>
    ))
  }
</ul>

<style>
  .post-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }
</style>
