---
import { getCollection } from "astro:content";
import type { HTMLAttributes } from "astro/types";
import Tag from "../../../shared/ui/Tag.astro";
import { groupByTagPosts } from "../utils/groupByTagPosts";
import PostPreview from "./PostPreview.astro";

const posts = (await getCollection("posts")).sort((a, b) => {
  return b.data.date.getTime() - a.data.date.getTime();
});

interface Props extends HTMLAttributes<"ul"> {}

const { class: className, ...attrs } = Astro.props;
---

<ul class:list={["post-list", className]} {...attrs}>
  {
    posts.map((post) => (
      <li class="post-list__item">
        <PostPreview post={post} />
      </li>
    ))
  }
</ul>

<style>
  .post-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
  }
</style>
