---
import PageLayout from "../layouts/PageLayout.astro";
import PinnedPosts from "../features/post/components/PinnedPosts.astro";
import PostTags from "../features/post/components/PostTags.astro";
import PostList from "../features/post/components/PostList.astro";
---

<PageLayout class="main-page" title="Главная">
  <h1 class="main-page__title main-page__title_sr-only">Домашняя страница</h1>
  <aside>
    <h2>Закрепленные заметки</h2>
    <PinnedPosts />
  </aside>
  <aside>
    <h2>Теги</h2>
    <PostTags />
  </aside>
  <aside>
    <h2>Мои заметки</h2>
    <PostList />
  </aside>
</PageLayout>

<style>
  .main-page__title_sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
</style>
