---
import Footer from "./components/Footer.astro";
import Header from "./components/Header.astro";
import RootLayout from "./RootLayout.astro";
import Container from "../shared/ui/Container.astro";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  title: string;
}

const { title, class: className, ...attrs } = Astro.props;
---

<RootLayout class:list={["page-layout", className]} {...attrs} title={title}>
  <Header />
  <main>
    <Container>
      <slot />
    </Container>
  </main>
  <Footer />
</RootLayout>
